<div class="sticky-bottom footer">
  <footer class="py-5 text-white">
    <ul
      class="nav justify-content-center text-white border-bottom pb-3 mb-3"
      style="border-color: green"
    >
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-muted">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-muted">Features</a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-muted">About</a>
      </li>
    </ul>
    <p class="text-center text-muted">&copy; 2022 Rently</p>
  </footer>
</div>
