<div class="pp" style="background-color: rgba(74, 188, 150, 255)"></div>
<div class="pg">
  <body class="text-center">
    <main class="form-signin w-100 m-auto">
      <form [formGroup]="signupForm">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="70"
          height="70"
          fill="currentColor"
          class="bi bi-person-circle"
          viewBox="0 0 16 16"
        >
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path
            fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
          />
        </svg>
        <h1 class="h3 mb-3 fw-normal" style="padding-top: 10px">
          Please sign up
        </h1>
        <div class="form-floating">
          <input
            type="firstname"
            formControlName="firstname"
            class="form-control"
          />
          <label>First name</label>
        </div>
        <div class="form-floating">
          <input
            type="lastname"
            formControlName="lastname"
            class="form-control"
          />
          <label>Last name</label>
        </div>

        <div class="empa">
          <div class="form-floating">
            <input
              type="email"
              formControlName="email"
              class="form-control"
              id="floatingInput"
            />
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input
              type="password"
              formControlName="password"
              class="form-control"
              id="floatingPassword"
            />
            <label for="floatingPassword">Password</label>
          </div>
        </div>

        <button
          class="w-100 btn btn-lg btn-primary"
          style="background-color: rgba(74, 188, 150, 255)"
          type="submit"
          [disabled]="!signupForm.valid"
          (click)="onSignUp()"
        >
          Sign up
        </button>
        <p style="padding-top: 5px">
          <a routerLink="/login" class="text-muted"> Already have account? </a>
        </p>
        <p class="mt-5 mb-3 text-muted">&copy;2022 Rently</p>
      </form>
    </main>
  </body>
</div>
